* {
  background-color: teal;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  font-family: sans-serif, Arial, Helvetica;
}

button {
  padding: 12px 24px;
  background: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 20px;
  outline: none;
}